<footer>
  <p>© 2025 Grim Gatherings. All rights reserved.</p>
  <p>
    <a href="/privacy-policy">Privacy Policy</a> | <a href="/terms-of-service">Terms of Service</a>
  </p>
</footer>

<style>
  footer {
    background-color:rgb(54, 53, 53);
    font-family: 'Courier New', Courier, monospace;
    color: white;
    padding: .75rem;
    text-align: center;
  }

  footer a {
    color: white;
    text-decoration: none;
    margin: 0 1rem;
    font-weight: bold;
  }

  footer a:hover {
    text-decoration: underline;
  }
</style>